/* väri paletti */
/* https://colorhunt.co/palette/e5f9bda0e4187fb414525050 */
@font-face {
  font-family: Gondens;
  src: url("Gondens\ DEMO.otf") format("opentype");
}
body {
  background-color: #141e26;
  height: 350vh;
  margin: 0;
}

h1 {
  color: #f1f0e4;
  font-size: clamp(5rem, 10vw, 15rem);
  font-family: "Gondens";
  text-align: center;
  padding: clamp(1rem, 1, 1vw, 1rem) 1rem;
  text-align: center;
  text-decoration: overline underline;
  text-underline-offset: 40px;
  text-decoration-color: #9ac5d3;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100000;

  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

body:hover > #trailer {
  opacity: 1;
}

#menu {
  display: flex;
  margin-top: 20vh;
  align-items: center;
}

.menu-item {
  color: #bca88d;
  font-family: "Abril Fatface";
  font-size: clamp(2rem, 5vw, 8rem);

  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0, 5vw, 1rem) 0rem;
  opacity: 0.7;
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 48rem);
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.animoi.animate {
  animation: yourAnimation 1s ease forwards;
}

#Tietoa,
#projekti,
#Puh {
  color: #3e3939;
  font-size: clamp(1rem, 1.5vw, 1.125em);
  font-family: "Lato";
  margin: 0 auto;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

#about-otsikko,
#projects-otsikko,
#kontakti {
  color: #5d6d66;
  font-size: clamp(2rem, 6vw, 4em);
  font-family: "Abril Fatface";
  margin: 0 auto;
  line-height: 1.7;
}

.content {
  margin: 500px 0;
  text-align: center;
}

.text-box {
  display: inline-block;
  background: #f5f5f5;
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.25);
  line-height: 1.6;
  text-align: left;
  max-width: 600px;
}
